= render 'form'
-# .col-md-2.col-sm-2.col-xs-4
-#   %ul.nav.nav-pills.nav-stacked
-#     %li.active= link_to 'General', '#'
-#     %li= link_to 'Ice', '#'
-#     %li= link_to 'Meteorology', '#'
-#     %li= link_to 'Photos', '#'
-#     %li= link_to 'Comments', '#'
