.row-fluid
  .span12
    =form_for [:admin, @uploaded_observation], html: {id: 'fileupload', class: 'form-inline', style: 'margin: 0' } do |f|
      .btn.btn-block.fileinput-button
        %i.icon-upload
        Upload Observations
        =f.file_field :observations
    #upload_status{style:"display:none;"}
      .row-fluid
        .span12
          %h5 Upload status
      .row-fluid
        #upload_messages.span10.offset1


:javascript
  $(document).ready(function() {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      dataType: 'json',
      add: function (e, data) {
        $('#upload_status').show();

        data.context = $('<div class="progress" />').appendTo($('#upload_messages'))
        $('<div class="bar" style="width:0%" />').text('Uploading').appendTo($(data.context));

        data.submit();
      },
      done: function (e, data) {
        data.context.find('.bar').text('Finished');
        data.context.find('.bar').addClass('bar-success');

        if ($('#import_errors').data('updateTimer')) {
          clearTimeout($('#import_errors').data('updateTimer'))
        }
        $('#import_errors').data('updateTimer', setTimeout(function() {
          $('#import_errors').load('#{admin_uploaded_observation_path(@uploaded_observation)}');
        }, 1000));
      },
      fail: function(e, data) {
        data.context.find('.bar').text('Failed')
        data.context.find('.bar').addClass('bar-danger')
      },
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        data.context.find('.bar').css(
          'width',
          progress + '%'
        );
      }
    });
  });