%h4
  Help
.well.well-small
  To fix the errors, download the observations from the link above.  
  The text on the right tells you what lines need correcting, along with a what is wrong on that line.
  After correcting the errors, use the 'Upload Observations' button above to upload your changes.