%tr
  %td= link_to cruise.ship, admin_cruise_path(cruise)
  %td= cruise.starts_at
  %td= cruise.ends_at
  %td= cruise.observations.count
  %td=# cruise.observations.pending
  %td=# cruise.observations.errors
  %td
  %td
