.well.well-small
  %h1
    Cruises
    =link_to new_admin_cruise_url, class: 'btn btn-success pull-right' do 
      %i.icon-plus.icon-white
      New Cruise
      
=render partial: 'cruises', locals: {cruises: Cruise.active, title: "Active"} if Cruise.active.any?
=render partial: 'cruises', locals: {cruises: Cruise.upcoming, title: "Upcoming"} if Cruise.upcoming.any?
=render partial: 'cruises', locals: {cruises: Cruise.ended, title: "Finished"} if Cruise.ended.any?
=render partial: 'cruises', locals: {cruises: Cruise.archived, title: "Archived"} if Cruise.archived.any?


#import-modal.modal.hide
  .modal-body
  .modal-footer
    %button.btn.disabled{data:{dismiss: 'modal'}, disabled: true}
      Dismiss
                  
