.page-header
  %h1
    = @cruise.ship
    %small= @cruise.starts_at

.col-md-2
  .btn-group-vertical
    .btn.btn-default Upload Observations
    .btn.btn-default Upload Photos
.col-md-10
  %dl.dl-horizontal
    %dt Captain
    %dd= @cruise.captain
    %dt Primary Observer
    %dd= @cruise.primary_observer

  -# if @cruise.observations.pending.any?
  .panel.panel-warning
    .panel-heading Observations Pending Review
  -# if @cruise.observations.errors.any?
  .panel.panel-danger
    .panel-heading Observations Needing Correction
