-case error.first
-when :latitude
  =form.label :latitude
  =form.text_field :latitude
-when :longitude
  =form.label :longitude
  =form.text_field :longitude
-when :primary_observer
  =form.label :primary_observer
  =form.text_field :primary_observer
.alert.alert-warning
  %strong
    ="#{error.first.capitalize.to_s.gsub(/_/," ")}:"
  =error.last.join(",")