=form_for @observation, {url: admin_import_url(@import), :method => :put} do |f|
  -@observation.errors.messages.each do |e|
    .row
      .span12
        - case e.first
        - when :cruise_id
          =render partial: 'cruise_errors', locals: {error: e, form: f}
        - when :ice
          =f.fields_for :ice do |ice|
            =render partial: 'ice_errors', locals: {error: e, form: ice }
        - else
          =e.first

  =f.submit "Attempt Import"      