.container-fluid
  .row-fluid
    .page-header
      %h1
        Yearly Activity
        .btn-group
          .btn
            =@year.year
          .btn.dropdown-toggle{data: {toggle: 'dropdown'}}
            %span.caret
          %ul.dropdown-menu
            -@available_years.each do |year|
              =list_item_for_year year           
  .row-fluid
    .span6{style:'height: 500px; overflow-y: scroll'}
      .page-header
        %h2
          Cruises
      -@cruises.each do |cruise|
        .page-header
          %h4
            .text-overflow=cruise.ship
            %small.pull-right
              =link_to "View Observations", cruise_url(cruise), class: 'btn'
        %dl.dl-horizontal
          %dt="Start Date: "
          %dd=ymd cruise.start_date
          %dt="End Date: "
          %dd=ymd cruise.end_date
          %dt="Last Observation: "
          %dd=ymd(cruise.observations.recent(1).first.try(:obs_datetime)) || "No Observations Reported"

    .span6
      .page-header
        %h2
          Ship Locations
      #map{data: {url: api_cruises_url(:year => @year.year, format: :geojson)}}
  .row
    .span12
      .page-header
        %h2
          Ice Concentration
      =render 'charts/cruises_tc_chart'

:javascript
  var map = new IceMap
  map.init("#map")