.container
  .row
    .span6{style:'height: 500px; overflow-y: scroll'}
      .page-header
        %h1= "Cruise Info"
      -Cruise.all.each do |cruise|
        .page-header
          %h4=cruise.ship
        %dl.dl-horizontal
          %dt="Start Date"
          %dd=ymd cruise.start_date
          %dt="End Date"
          %dd=ymd cruise.end_date
          %dt="Other Data:"
          %dd="???????  Profit!"

    .span6
      .page-header
        %h1
          Active Cruises
          =link_to root_url, class: 'btn pull-right' do
            %i.icon-globe
            Explore
      #map
  .row
    .span12
      .page-header
        %h1
          Ice Concentration
          =link_to root_url, class: "btn pull-right" do
            %i.icon-tasks
            Browse
      #graph-container
        #y_axis
        #graph
        #legend
