#cruise-primary-ice-type.nvd3.chart
  %svg
.well
  %p.lead
    Ice Type  
  %p
    Percentage of each ice type observed during this cruise.
:javascript
  #{render 'charts/cruise_primary_ice_type.js.erb', { chart_id: 'cruise-primary-ice-type'}}