#cruise-ice-chart.nvd3.chart
  %svg

.well
  %p.lead
    Ice Concentration  
  %p
    Some text describing what you're looking at
    
:javascript
  #{render 'charts/cruise_ice_chart.js.erb', {chart_id: 'cruise-ice-chart'}}