= render 'cruises/header'
.row
  .col-xs-4
    = render 'cruises/sidebar'
  .col-xs-8
    .panel.panel-default
      .panel-body
        = pie_chart ice_type_cruise_charts_path(@cruise)
      .panel-footer
        Percentage of each ice type observed during this cruise.

    .panel.panel-default
      .panel-body
        = line_chart total_concentration_cruise_charts_path(@cruise)
      .panel-footer
        Total concentration observed over time
