%h2
  Ice Watch

%p
  :markdown
    Ice Watch is an open source forum for sharing shipborne Arctic sea ice observation data. Coordinated by the [University of Alaska Fairbanks](http://www.uaf.edu), the [International Arctic Research Center](http://www.iarc.uaf.edu), and the [Geographic Information Network of Alaska](http://www.gina.alaska.edu), it is an effort to provide a convenient way to monitor Arctic sea ice and its role in understanding the Arctic as a system.
%p
  :markdown
    ASSIST (Arctic Shipborne Sea Ice Standardization Tool) software records ship tracks and sea ice conditions throughout the Arctic Ocean. During the summer melt season when most ship activity occurs, international vessels using ASSIST report near real-time observations of ice concentration, ice type, and distribution of multi-year ice to the Ice Watch team, who describes the data in plots and on an interactive map.
%p
  :markdown
    Cruise data in multiple formats are available to download for further analysis. The data archive will continue to grow as more ships participate and historic cruise data are converted to the ASSIST file format. 
%p
  :markdown
    ASSIST and the Ice Watch campaign debuted in summer 2012. We welcome feedback regarding your experiences with the Ice Watch site and the ASSIST software, which is freely available upon request. We also encourage submission of shipborne sea ice observation data recorded by other methods. 
%p
  :markdown
    [Please contact us](mailto://assist@iarc.uaf.edu) with issues, questions, or to find out how to obtain ASSIST for your own sea ice observations. 
%p
  :markdown
    [Ice Watch](http://github.com/gina-alaska/icewatch/) and [ASSIST](http://github.com/gina-alaska/ASSIST/) were developed by [Scott Macfarlane](http://github.com/smacfarlane), [Will Fisher](http://github.com/teknofire) and [Jason Grimes](http://github.com/grimm) at the [Geographic Information Network of Alaska](http://github.com/gina-alaska).  Source code is available on [Github](http://github.com).  