%h2
  Ice Watch

%p
  :markdown
    **Ice Watch** is an open source forum for sharing shipborne Arctic sea ice observation data. Coordinated by the [University of Alaska Fairbanks](http://www.uaf.edu)(UAF) [International Arctic Research Center](http://www.iarc.uaf.edu)(IARC) and [Geographic Information Network of Alaska](http://www.gina.alaska.edu)(GINA),  it is an effort to provide the research community and additional stakeholders a convenient resource to monitor Arctic sea ice and its role in understanding the Arctic as a system. International vessels using the **ASSIST**(Arctic Shipborne Sea Ice Standardization Tool) software report near-real time sea ice conditions while underway, yet there is an archive of datasets also available.
%p
  :markdown 
    As a quick reference it illustrates current ship tracks and recent sea ice conditions throughout the Arctic Ocean. During the summer melt season, when most ship activity occurs, essential observations of ice concentration, ice type and distribution of multi-year ice is reported directly from the ships to the **Ice Watch** team, then visualized on an interactive map, as well as in a variety of plots. Full cruise data is available via download in multiple file formats for further analysis. The collection of archived data will continue to develop as the number of participating ships increase and historic cruise data is submitted to be converted into the **ASSIST** software file format. 
%p
  :markdown
    The summer of 2012 was the debut of the **ASSIST** software and the Ice Watch campaign. We are currently working to improve both products. We welcome feedback regarding the user interface with the **Ice Watch** site or the **ASSIST** software. Submission of shipborne sea ice observation data recorded by other methods is encouraged and the software is available upon request.  Please contact Alice Orlich, aorlich@iarc.uaf.edu regarding any issues.  