%p
  First
  = link_to "download software", page_path('assist')
  to record ice observations while at sea.

%p
  When you are preparing to go to sea,
  = link_to "Register for an account.", '/auth/google'
  Please
  = mail_to 'assist@iarc.uaf.edu', 'email us'
  that you have registered an account so we can further assist you and enable your account.

%p
  After your account has been activated, Register your cruise (after you are registered for an account, log in and click "Register Cruise"  on the left hand side bar).

%p
  This will create a data base entry for your cruise and you will see your cruise listed on the left hand side bar.

%p
  You may
  = mail_to "email ASSIST csv files without photographs", 'assist@iarc.uaf.edu'
  to us during your cruise.

%p
  After recording observations and return to port, please upload ASSIST observations to your cruise entry in Ice Watch. Click on the cruise entry on the left hand side bar menu. This will direct you to a page with an option to "Upload Observation CSV" on the left hand side. You can also modify the cruise data that was imported when you registered your cruise with "Upload Cruise Data". Your uploaded data can be quality controlled exactly as you do with the ASSIST software.

%p
Thank you for participation.