<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Icewatch Cruise Registered</h1>
    <p>
        Registered by: <%= @user %> </br>
        Ship: <%= @cruise.ship %> </br>
        
    </p>
    <p>This email was sent to all Icewatch admins.</p>
  </body>
</html>
