<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Icewatch User Registered: <%= @user.name %></h1>
    <p>
      <%= @user.name %> (<%= @user.email %>) has logged in to icewatch for the first time.
    </p>
    <p>This email was sent to all Icewatch admins.</p>
  </body>
</html>
