= f.fields_for :ice_observations, ice_observation do |io|
  .col-md-4
    %h4= io.object.obs_type.capitalize
    = io.collection_select :snow_lookup_id, SnowLookup.all, :id, :code_with_name,
      {label: 'Snow Type', include_blank: 'No Observation'}
    = io.number_field :snow_thickness, label: 'Snow Thickness (cm)'
