.row-fluid
  .span12
    .page-header
      %h2
        =cruise.ship
        %small.pull-right="#{ymd(cruise.start_date)} to #{ymd(cruise.end_date)}"
.row-fluid
  .span12
    .btn-toolbar
      .btn-group
        .btn
          Upload
