.row-fluid
  .span12
    .page-header
      %h2
        =cruise.ship
        %small="#{ymd(cruise.start_date)}-#{ymd(cruise.end_date)}"

    -# .btn-toolbar
    -#   .btn-group
    -#     .btn="Upload Observations"
    -#   .btn-group
    -#     .btn="Download"
    -#     .btn="CSV"
    -#     .btn="JSON"
    -#     .btn="GeoJSON" 
    -#     .btn="SHP"     