= paginate @observations
%table#observation-table.table
  %thead
    %tr
      %th Observation Date
      %th Latitude
      %th Longitude
      %th Total Ice Concentration
      %th Primary Observer
      %th
  %tbody
    = render partial: 'observation', collection: @observations