.well
  =simple_form_for @cruise || Cruise.new, html: {class: 'form-horizontal'} do |f|
    %fieldset
      %legend= "Cruise Information"
      =f.input :ship, placeholder: "Ship Name"
      =f.input :start_date, placeholder: "Cruise Start", input_html: {class: 'datefield'}, 'data-date-format' => 'yyyy.mm.dd'
      =f.input :end_date, placeholder: "Cruise End", input_html: {class: 'datefield'}, 'data-date-format' => 'yyyy.mm.dd'
      =f.input :primary_observer, placeholder: "Primary Observer"
      =f.input :objective, placeholder: "Cruise Objective", as: :text, input_html: {cols: 80, rows: 5}, hint: "300 Character Limit"
    %fieldset
      %legend= "Additional Information"
      =f.input :captain, placeholder: "Captain"
      =f.input :chief_scientist, placeholder: "Chief Scientist"
    .row-fluid
      .span12
        =f.submit "Add Cruise", class: 'btn btn-primary pull-right'
          