.panel.panel-default
  #map.map{data: {cruise_info: cruise_info}}
  .panel-body
    %h4 Observed Sea Ice Type
    .legend
      %span.label.new-ice New Ice
      %span.label.first-year-ice First Year Ice
      %span.label.old-ice Old Ice
      %span.label.other-ice Other