.row-fluid
  .span12
    .observed
      .wax-legend
        .legend-title
          Observed Sea Ice Type
        .legend-scale
          %ul.legend-labels
            %li
              %span{style: 'background:#D9D9D9;'}
              New
            %li
              %span{style:'background:#BFD7D3;'}
              First Year
            %li
              %span{style:'background:#50BBD4;'}
              Old             
            %li
              %span{style:'background:#92A9C4;'}
              Other
            %li
              %span{style:'border: solid 2px #D00; background:#FFF;'}
              No QC