.row
  .col-md-2
    %ul.list-group
      %li.list-group-item.active
        %strong= "#{current_year} Cruises"
      - @cruises.each do |cruise|
        %li.list-group-item
          = link_to cruise.ship, cruise_path(cruise)
          %span.badge
            =cruise.observations.count
  .col-md-10
    .panel.panel-default
      #map.map{data: {cruise_info: cruises_path('geojson')}}
      .panel-body
        %h4 Observed Sea Ice Type
        .legend
          %span.label.new-ice New Ice
          %span.label.first-year-ice First Year Ice
          %span.label.old-ice Old Ice
          %span.label.other-ice Other
