= render 'cruises/header'

.row
  .col-xs-4
    - if can?(:manage, @cruise) or can?(:import, @cruise)
      = render 'cruises/management_sidebar'
    = render 'sidebar'
  .col-xs-8
    = render 'cruise_observations', cruise: @cruise
