/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= require nvd3/src/nv.d3
 *= require datatables/media/css/jquery.dataTables
 */
 
@import "compass";
@import "bootstrap";


#map-container {
  min-width: 460px;
  height: 460px;
  width: 100%;
  img {
    max-width: none;
  }
}

.nav.nav-list {
  font-size: 1.1em;
  .nav-header {
    font-size: 1.1em;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 260px;
}

.chart {
  height: 400px;
}


td form {
  margin-bottom: 0px;
  input {
    margin-bottom: 0px;
  }
}

body {
  padding-bottom: 20px;
}
.fileinput {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
}

.form-inline .controls, 
.form-inline .control-group { display:inline-block; }

tr.error {
  @extend .alert-error;
}

#legend {
  .wax-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .wax-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .wax-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 45px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .wax-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 45px;
    }
  .wax-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-legend a {
    color: #777;
  }

  .observed {
    .wax-legend ul.legend-labels li span {
      display: block;
      float: none;
      height: 25px;
      width: 25px;
      margin: 0 auto;      
      @include border-radius(25px);
    }
    .wax-legend .legend-scale ul li {
      width: 50px;
    }
  }
}

ul.nav.nav-list.menu {
  margin: 30px 0 0;
  position: fixed;
  min-width: 160px;
  @include border-radius(6px);
  @include box-shadow(#000, 0px, 1px, 4px);
  a {
    padding: 8px 14px;
    border: 1px solid #efefef;
  }
  i {
    margin-top: 2px;
    margin-right: -6px;
    opacity: 0.25;
  }
}
.status {
  float: left;
  padding-top: 18px;
  padding-left: 15px;
}
.row-fluid.upload-error {
  
  padding: 10px 10px 0 10px;
  border: solid 1px #e0e0e0;
  @include border-radius(6px);
  
}

