/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= require nvd3/src/nv.d3
 *= require datatables/media/css/jquery.dataTables
 */
 
@import "bootstrap";

#map-container {
  min-width: 460px;
  height: 460px;
  width: 100%;
  img {
    max-width: none;
  }
}

.nav.nav-list {
  font-size: 1.1em;
  .nav-header {
    font-size: 1.1em;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 260px;
}

.chart {
  height: 420px;
  .nv-x {
    padding-bottom: 10px;
  }
}

td form {
  margin-bottom: 0px;
  input {
    margin-bottom: 0px;
  }
}

body {
  padding-bottom: 20px;
}
.fileinput {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
  }
}

.form-inline .controls, 
.form-inline .control-group { display:inline-block; }

tr.error {
  @extend .alert-error;
}
