.container
  .row
    .span12
      .page-heading
        %h1
          Pending
        
      - if @observations.any?         
        =render partial: 'admin/observations/pending'
      - else 
        No Pending Observations      
        