.container-fluid
  .row-fluid
    .span12
      .btn-group.pull-right
        =link_to accept_admin_observation_url(@observation), class: 'btn btn-small btn-success', method: :post do 
          %i.icon-ok.icon-white
          Approve
        =link_to reject_admin_observation_url(@observation), class: 'btn btn-small btn-danger', method: :post do 
          %i.icon-remove.icon-white
          Reject
  .row-fluid
    #raw.span12
      = CodeRay.scan(::JSON.pretty_generate(@observation.as_json), :json).div(css: :class).html_safe