.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Ice Watch", root_url, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "About", "/about/pages", class: 'navbar-link'

      - if current_user.has_role? :admin
        %li= link_to 'Admin', admin_path
      %li.dropdown= render 'layouts/login'
