.navbar.navbar-default
  .container-fluid
    .navbar-header{style: 'position: relative'}
      = link_to root_url, class: 'navbar-brand' do
        = image_tag 'icewatch_logo.png', class: 'logo'

    %ul.nav.navbar-nav.navbar-right
      %li= link_to "About", "/about/pages", class: 'navbar-link'
      %li.dropdown= render 'layouts/login'
